{% extends "base.html" %} {% load static %} {% load wagtailcore_tags wagtailimages_tags %} {% block body %}

<br /><br /><br /><br /><br />
<div class="container find-section">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{self.project_title}}</h5>
      <p class="card-text">
        <small class="text-muted">{{self.project_subtitle}}</small>
      </p>
      <p class="card-text">{{self.project_body}}</p>
    </div>
    {% image self.specific.project_image width-400 as tmp_photo %}
    <center>
      <img
        class="card-bottom"
        src="{{tmp_photo.url}}"
        alt="Card image cap"
        height="450px"
        width="35%"
      />
    </center>
  </div>
</div>
<br />
<br />

<!-- 
<br /><br /><br /><br /><br />
<div class="container find-section">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{self.project_title}}</h5>
      <p class="card-text">
        <small class="text-muted">{{self.project_subtitle}}</small>
      </p>
      <p class="card-text">{{self.project_body}}</p>
    </div>
    {% image self.specific.project_image width-400 as tmp_photo %}
    <center>
      <img
        class="card-bottom"
        src="{{tmp_photo.url}}"
        alt="Card image cap"
        height="450px"
        width="35%"
      />
    </center>
  </div>
</div>
<br />
<br /> -->

{% endblock %}
